// Reset css stylings
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

// Variables
$primary-color: rgb(217, 19, 19);
$secondary-color: rgb(247, 247, 23);


// General mixins
@mixin head-foot {
  background-color: $primary-color;
  border-top: $secondary-color solid 5px;
  border-bottom: $secondary-color solid 5px;
}

@mixin links {
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

body {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
}

header {
  @include flex-col();
  background-color: $primary-color;
  align-self: stretch;
  justify-content: center;
  align-items: center;  
  .logo-image {
    width: 150px;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  .nav-container {
    width: 100%;
  }
}



.navbar {
  @include head-foot();
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 20px;
  width: 100%;
  li {
    @include links();
    list-style: none;
    color: black;
    font-size: 20px;
  }
  a {
    text-decoration: none;
  }
}

footer {
  @include head-foot();
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  height: 50px;
}

.socials {
  margin-top: 10px;
  a {
    @include links();
    margin-right: 5px;
  }
}

main {
  @include flex-col();
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-grow: 1;
  .tagline{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    line-height: 1;
    font-family: 'Freehand', cursive;
    border-bottom: 2px solid $primary-color;
  }
  .front-decal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 20px;
    img{
      width: 150px;
      height: auto;
    }
  }
  button {
    padding: 20px;
    background-color: $primary-color;
    color: $secondary-color;
    border: $secondary-color solid 2px;
    border-radius: 50%;
    font-size: 20px;
  }
}

@media screen and (min-width: 500px) {
  .navbar{
    li{
      font-size: 40px;
    }
  }
  
  main {
    .tagline{
      margin-left: 100px;
      margin-right: 100px;
      font-size: 33px;
    }
    .front-decal{
      height: 50%;
      img {
        width: 40%;
      height: auto;
      object-fit: contain;
      }
    }
    button {
      padding: 50px;
      font-size: 30px;
    }
  }
}